<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
  <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <span style="vertical-align: middle;"><%= title %></span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Listas
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/facturacion">Facturacion</a>
                <a class="dropdown-item" href="/inventario">Existecia por Bodega, despacho</a>
                <a class="dropdown-item" href="/cuentaCorriente">Clientes, Cuenta corriente</a>
                <a class="dropdown-item" href="/ingresos">Ingresos</a>
                <a class="dropdown-item" href="/Proveedores">Proveedores</a>
                <a class="dropdown-item" href="/clientesMora">Clientes en Mora</a>
                <a class="dropdown-item" href="/saldos">saldos por Cliente</a>
                <a class="dropdown-item" href="/cargos">Cargos</a>
                <a class="dropdown-item" href="/abonos">Abonos</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="btn btn-success " href="/pagar">Cuentas por Pagar</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-success " href="/facturas">Facturas</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="Contenido">

    <h1>
      <%= title %>
    </h1>
    <p>Ingresos</p>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>
