<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
  <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <span style="vertical-align: middle;"><%= title %></span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Listas
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/facturacion">Facturacion</a>
                <a class="dropdown-item" href="/inventario">Existecia por Bodega, despacho</a>
                <a class="dropdown-item" href="/cuentaCorriente">Clientes, Cuenta corriente</a>
                <a class="dropdown-item" href="/ingresos">Ingresos</a>
                <a class="dropdown-item" href="/Proveedores">Proveedores</a>
                <a class="dropdown-item" href="/clientesMora">Clientes en Mora</a>
                <a class="dropdown-item" href="/saldos">saldos por Cliente</a>
                <a class="dropdown-item" href="/cargos">Cargos</a>
                <a class="dropdown-item" href="/abonos">Abonos</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="btn btn-success " href="/pagar">Cuentas por Pagar</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-success " href="/facturas">Facturas</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-danger " href="/error">NO TOCAR!</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="Contenido">

    <h1>
      <%= subtitle %>
    </h1>

    <h3 style="text-align: justify;">
      Compras
      <br>
      Hay que diferenciar claramente la compra de carburantes de las compras del resto de actividades.
    <br>  La compra del carburante debe quedar registrada de tal forma que podamos verificar los precios de compra y los litros suministrados.
    <br> Recuerda que, al contrario que en otros sectores, estamos hablando de un mercado en el que el precio de compra va y viene.
    <br> Sube o baja de una manera constante al estar está sujeto a las variaciones que dicta el mercado. Su precio varía cada día y los litros suministrados acaban por diferir de los litros pedidos a la distribuidora.
    <br>
    <br>
    Ventas
    <br>
    Aquí también es necesario diferenciar claramente los ingresos producidos por la venta de carburantes del resto de actividades.
    <br>En este caso es básico conocer el volumen de litros vendidos a través de los surtidores y su precio unitario. E insistimos: El vaivén de los precios. El valor de la venta variará diariamente en función de lo que decrete el mercado.

    <h2>Las existencias de gasolina, tanto cuando las recibe, como cuando las dispensa, no son productos de su propiedad, y en consecuiencia no procede su registro en contabilidad. Se trata de existencias en depósito. El control sobre la cantidad depositada y la vendida no tiene que incidir en la contabilidad de la empresa.
 <br> Por otra parte el cobro de las comisiones se hacen a través de la venta de la gasolina al cliente final.
 <br>

  </h3>

<img style="width:100%" src="https://cdn-pro.elsalvador.com/wp-content/uploads/2017/01/29155537/1459470819506.jpg" alt="PacificOil">

  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>
